/********************************************************************************/
/* buttons */

button.primary {
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color var(--default-transition), color var(--default-transition);
}

button.primary:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

button.icon-button {
  margin: 0;
  padding: 5px;
  border: none;
  background-color: transparent;
  line-height: 0;
  cursor: pointer;
}

button.icon-button .material-icons {
  transition: color var(--default-transition);
}

button.icon-button:hover .material-icons {
  color: var(--primary-color);
}

/* colors buttons needed to be defined here */