/********************************************************************************/
/* dialog */
dialog {
  background-color: var(--bg-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 2rem;
  max-width: 95dvw;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog.error {
  background-color: red;
}

dialog.success {
  background-color: green;
}

dialog.warning {
  background-color: orange;
}

/********************************************************************************/
/* Confirmation Dialog */
dialog.confirm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  outline: 0.2rem solid lightcoral;
}

dialog.confirm .dialog-header {
  display: flex;
  gap: 0.6rem;
  background-color: lightcoral;
  padding: 2rem 2rem 1rem 2rem;
}

dialog.confirm .dialog-header h2 {
  margin: 0;
  align-self: center;
  color: darkred;
}

dialog.confirm .dialog-icon {
  font-size: 6rem;
  margin-bottom: 1rem;
  color: darkred;
}

dialog.confirm p {
  padding: 2rem;
  font-size: 1.2rem;
}

dialog.confirm .dialog-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem 2rem 2rem;
}

dialog.confirm .dialog-buttons.reverse {
  flex-direction: row-reverse;
}

dialog.confirm .dialog-buttons button {
  flex: 1;
}



/* <span class="material-icons dialog-icon">help_outline</span>
            <h2>Confirmation</h2>
            <p>${question}</p>
            <div class="dialog-buttons ${reverse ? 'reverse' : ''}">
                <button class="primary">${primaryBtnText}</button>
                <button class="secondary">${secondaryBtnText}</button>
            </div> */