
* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--text-color);
}

h1 {
  visibility: hidden;
}

h2 {
  font-size: 3.5rem;
  margin-top: 0;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

::placeholder, .placeholder {
  font-size: 1.2rem;
}

/* Vertically center icons compare to the default baseline */
.material-icons {
  vertical-align: middle;
}
