
* {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size);
  color: var(--text-color);
  line-height: var(--line-height);
}

h1 {
  visibility: hidden;
}

h2 {
  font-size: var(--text-size-h2);
  margin-top: 0;
}

h3 {
  font-size: var(--text-size-h3);
}

h4 {
  font-size: var(--text-size-h4);
}

h5 {
  font-size: var(--text-size-h5);
}

h6 {
  font-size: var(--text-size-h6);
}

::placeholder, .placeholder {
  font-size: var(--text-size-placeholder);
}

.footnote {
  font-size: var(--text-size-footnote);
}

/* Vertically center icons compare to the default baseline */
.material-icons {
  vertical-align: middle;
}
