:root {
  /* Typography */
  --font-family: 'Roboto', sans-serif;
  --font-size: 20px;
  --tablet-font-size: 18px;
  --mobile-font-size: 16px;
  --line-height: 1.2;

  --text-size-h2: 3.5rem;
  --tablet-text-size-h2: 3rem;
  --mobile-text-size-h2: 2rem;

  --text-size-h3: 3rem;
  --tablet-text-size-h3: 2.8rem;
  --mobile-text-size-h3: 1.6rem;

  --text-size-h4: 2.5rem;
  --tablet-text-size-h4: 2.5rem;
  --mobile-text-size-h4: 1.2rem;

  --text-size-placeholder: 1.2rem;
  --text-size-footnote: 0.8rem;
  
  /* Colors */
  --primary-color: #0474ff;
  --primary-color-dark: #002450;
  --secondary-color: #181818;
  --bg-color: #121212;
  --text-color: #fff;
  --border-color: #272727;
  --grey-light: #9c9c9c;

  /* Globals */
  --border-radius: 0.5rem;

  /* Animations */
  /*
    only set the default transition parameters.
    This allows to have consistent animations, but leaves the freedom to the element to choose which attribute(s) to animate.
  */
  --default-transition: 300ms ease-in-out;

  /* Card colors */
  --card-background-color-green: hsl(120, 100%, 80%);
  --card-background-color-yellow: hsl(60, 100%, 70%);
  --card-background-color-orange: hsl(39, 100%, 70%);
  --card-background-color-red: hsl(0, 100%, 70%);
  --card-background-color-purple: hsl(276, 100%, 79%);
  --card-background-color-blue: hsl(202, 100%, 74%);
  --card-background-color-pink: hsl(326, 98%, 81%);
  --card-background-color-white: hsl(0, 0%, 100%);
  --card-background-color-gray: hsl(0, 0%, 69%);
  --card-background-color-black: hsl(0, 0%, 0%);

  --card-color-green: hsl(120, 100%, 17%);
  --card-color-yellow: hsl(60, 100%, 17%);
  --card-color-orange: hsl(39, 100%, 17%);
  --card-color-red: hsl(0, 100%, 5%);
  --card-color-purple: hsl(276, 92%, 19%);
  --card-color-blue: hsl(202, 100%, 18%);
  --card-color-pink: hsl(326, 64%, 21%);
  --card-color-white: hsl(0, 1%, 35%);
  --card-color-gray: hsl(0, 0%, 14%);
  --card-color-black: hsl(0, 0%, 90%);

  /* Breakpoints */
  --breakpoint-mobile: 768px;
  --breakpoint-tablet: 1024px;
  --breakpoint-desktop: 1440px;
}
